.impressoesa {
  background: #d9d9d9;
  width: 98%;
  height: 455px;
  margin: 6px auto;
  border-radius: 15px;
}

.cabecalhoInformacoesa {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #012C71;
  color:#FFF;
  border-radius: 15px 15px 0 0;
}

.tabelaArco {
  width: 98%;
}

