.navegacao {
    background-color: #012C71;
    width: 100%;
    height: 41px;
    margin: 4px auto;
    border-radius: 5px;
    display: inline-flex;
}

.navegacao button {
    margin-left: 8px;
    background: #012C71;
    border: none;
    border-left: solid 1px white;
    color: white;
    font-weight: bold;
}

.navegacao button:last-child {
    border-right: solid 1px white;
}

.imp {
    width: 92%;
    margin: auto;
}

.impressoes {
    background: rgba(217, 217, 217, 1);
    width: calc(99.7% - 3px);
    height: 590px;
    margin: 6px auto;
    border-radius: 10px;
    border-top-right-radius: 24px;
    display: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

.impressoes::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

.impressoes::-webkit-scrollbar-track {
    background: #ffffff; /* Cor do fundo da trilha da barra de rolagem */
}

.impressoes::-webkit-scrollbar-thumb {
background:#012C71; /* Cor do "polegar" da barra de rolagem */
}

.impressoes::-webkit-scrollbar-thumb:hover {
background: #044dc2; /* Cor do "polegar" da barra de rolagem ao passar o mouse */
}

.impressoes::-webkit-scrollbar-thumb:active {
    background: #0464ff;
}

.impressoes thead {
    position: sticky;
    top: 0;
}

.impressoes thead > th + th {
    border-left: 2px solid white;
}

.impressoes table {
    width: 91vw;
    border-collapse: collapse;
}

.impressoes th {
    padding: 0.25%;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border-left: solid white 2px;
    background: #012C71;
}

#firstth {
    border-top-left-radius: 10px;
    border-left: none;
}

#lastth {
    border-top-right-radius: 10px;
    border-right: none;
}