#foot {
    background: #34379E;
    width: 100%;
    height: 30px;
    display: flex;
    position: fixed;
    bottom: 0;
}

.botao-redirect {
    margin-left: 10px;
    padding: 6px 12px;
    color: white;
    background-color: #012C71;
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.botao-redirect:hover {
    background-color: #003a97;
}

#botao-seta {
    margin-left: 20px;
}

#imagem-retorno {
    width: auto;
    max-width: 20px;
    transform: scaleX(-1);
}

.img-btn {
    max-width: 20px;
    width: auto;
    margin-right: 8px;
}
